<div class="m-2">
    <link rel="stylesheet" href="../static/css/views/downloader.css">
    <div class="input-group mb-3 pt-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Video URL/ID</span>
        </div>
        <input type="text" class="form-control" placeholder="https://youtu.be/videoId" id="urlbar-input" value="" onclick="this.select();">
        <div class="input-group-append">
            <button class="btn btn-warning" id="urlbar-paste" onclick="paste_url();">Paste</button>
            <button class="btn btn-success" id="urlbar-apply" onclick="apply_url();">Apply</button>
            <button class="btn btn-warning" id="urlbar-applying" disabled hidden><span class="spinner-border spinner-border-sm"></span></button>
            <button class="btn btn-danger" id="urlbar-change" onclick="reset();" hidden>Change</button>
        </div>
    </div>
    <div id="alert_wrapper"></div>
    <hr class="bg-white">
    <div id="video-spec" hidden>
        <div id="video-preview" class="float-left bg-secondary">
            <img src="" class="rounded float-left" alt="" id="video-thumbnail"><br>
            <div>
                <span id="video-views" style="padding-left: 10px;"></span><br>
                <span id="video-author" style="padding-left: 10px;"></span><br>
                <span id="video-lenght" style="padding-left: 10px;"></span>
            </div><br><br><br>
            <h4 id="video-title" style="user-select: text;"></h4><a href="#" onclick="copy_title()">Copy title</a>
        </div>
        <div id="dwn-config" class="float-right">
            Possible Output formats:
            <select class="custom-select" id="dwn-formatselect">
                <!-- <option value="none" disabled> -- Video&Audio Presets -- </option> -->
                <optgroup label=" -- Video&Audio Presets -- ">
                    <option value="highest">Highest Video & Audio</option>
                    <option value="lowest">Lowest Video & Audio</option>
                </optgroup>
                <!-- <option value="none" disabled> -- Video Presets -- </option> -->
                <optgroup label=" -- Video Presets -- ">
                    <option value="highestvideo">Highest Video</option>
                    <option value="lowestvideo">Lowest Video</option>
                </optgroup>
                <optgroup label=" -- Audio Presets -- ">
                    <option value="highestaudio">Highest Audio</option>
                    <option value="lowestaudio">Lowest Audio</option>
                </optgroup>
                <!-- <option value="none" disabled> -- Audio Presets -- </option> -->
                <optgroup label=" -- All -- ">

                </optgroup>
                <!-- <option value="none" disabled> -- All -- </option> -->
            </select>
            <br><br>
            Save Path:
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Directory</span>
                </div>
                <input type="text" class="form-control" placeholder="Save Path" id="dwn-savepath" disabled>
                <div class="input-group-append">
                    <button class="btn btn-danger" id="dwn-savepath-change" onclick="setsavepath();">Change</button>
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="songmodecheck">
                <label class="custom-control-label" for="songmodecheck">Song mode</label>
            </div>
            <div id="songmodecheck-div" hidden>
                <span>(Only works for "mp3", "ogg", "wav" files)</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Artist</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Artist" id="dwn-artist">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Title</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Title" id="dwn-title">
                </div>
            </div>


            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customNamecheck">
                <label class="custom-control-label" for="customNamecheck">Custom Filename</label>
            </div>
            <div class="input-group mb-3" id="dwn-customname-div" hidden>
                <div class="input-group-prepend">
                    <span class="input-group-text">Filename</span>
                </div>
                <input type="text" class="form-control" placeholder="Filename" id="dwn-customname">
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="convertcheck">
                <label class="custom-control-label" for="convertcheck">Convert</label>
            </div>
            <select class="custom-select" id="dwn-convert-div" hidden>
                <!-- <option value="none" disabled> -- Video -- </option> -->
                <optgroup label=" -- Video -- ">
                    <option value="mp4">MP4</option>
                    <option value="avi">AVI</option>
<!--                    <option value="flv">FLV</option>-->
<!--                    <option value="mov">MOV</option>-->
                </optgroup>
                <optgroup label=" -- Audio -- ">
                    <option value="mp3">MP3</option>
                    <option value="ogg">OGG Vobris</option>
                    <option value="wav">WAV Wave</option>
                </optgroup>
                <!-- <option value="none" disabled> -- Audio -- </option> -->
            </select>

            <br><br>
            <div class="progress" id="dwn-progressbar-div">
                <div class="progress-bar" id="dwn-progress"></div>
            </div>
            <br>
            <button onclick="download();" class="btn btn-success" id="dwn-start">Download</button>
            <button class="btn btn-warning" id="dwn-prog" disabled hidden><span class="spinner-border spinner-border-sm"></span> Downloading</button>
            <button class="btn btn-danger" id="dwn-abort" hidden>Cancel</button>
        </div>
    </div>
</div>
<script src="../static/js/views/downloader.js"></script>