<h3> - Software City's Youtube Downloader - </h3>
This App is still under Heavy Development!
<br><br>
<h5>Features:</h5>
<div class="subordinate">
    <ul>
        <li>High Quality Downloads</li>
        <li>Highly customizable</li>
    </ul>
</div>
<br>
<h5>Todo:</h5>
<div class="subordinate">
    <ul>
        <li>Bulk Download mode</li>
        <li>Output converter</li>
    </ul>
</div>
<hr>
<h4> - Resources - </h4>
<h5>General:</h5>
<div class="subordinate">
    <ul>
        <li><a href="#" onclick="openURL('https://ffmpeg.org/');">ffmpeg</a></li>
        <li><a href="#" onclick="openURL('https://nodejs.org/');">Node.js</a></li>
        <li><a href="#" onclick="openURL('https://www.electronjs.org/');">Electron</a></li>
    </ul>
</div>
<h5>Node.js Modules:</h5>
<div class="subordinate">
    <ul>
        <li><a href="#" onclick="openURL('https://github.com/fent/node-ytdl-core');">ytdl-core</a></li>
        <li><a href="#" onclick="openURL('https://getbootstrap.com/');">bootstrap</a></li>
        <li><a href="#" onclick="openURL('https://popper.js.org/');">popper.js</a></li>
    </ul>
</div>

<script src="./../static/js/info.js"></script>