<div>
    <link rel="stylesheet" href="./../static/css/downloader.css">
    <h5>Appearance</h5>
    <div id="set-appearance-div" class="subordinate">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle setval" data-toggle="dropdown" getval="theme" placeholder="Theme:">Theme</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="setTheme('Dark'); update();">Dark</a>
                <a class="dropdown-item" onclick="setTheme('Light'); update();">Light</a>
            </div>
        </div>
    </div>
</div>
<script src="./../static/js/settings.js"></script>
<script src="./../renderer/theme.js"></script>