<html lang="en">
<head>
    <title>YT Downloader</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">

    <link rel='stylesheet' href="../static/css/base/base_style.css">
    <link rel='stylesheet' href="../static/modules/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="../static/modules/jquery.min.js"></script> <!-- Do not update/replace as it is modified to run in node.js environment! -->
    <script src="../static/modules/bootstrap/popper.min.js"></script>
    <script src="../static/modules/bootstrap/bootstrap.min.js"></script>

    <script src="../static/js/modules/Overlay.js"></script>
</head>
<body>
<div id="overlay"></div>

<div id="window-frame">
    <div class="frame-logo"> <img src="../static/logo/512x512.png" alt="logo"> <span>YT Downloader</span></div>
    <div class="frame-drag-section"></div>
    <div class="frame-controls">
        <div class="frame-btn" onclick="window_minimize()">
            <img class="icon" src="./../static/logo/frame/min-w-30.png" alt="">
        </div>
<!--        <div class="frame-btn norm" onclick="window_maximize()">-->
<!--            <img id="win_max" class="icon" src="./../static/logo/frame/max-w-30.png" alt="">-->
<!--            <img id="win_res" class="icon" src="./../static/logo/frame/restore-w-30.png" alt="" hidden>-->
<!--        </div>-->
        <div class="frame-btn close_ico" onclick="window_close()">
            <img class="icon" src="./../static/logo/frame/close-w-30.png" alt="">
        </div>
    </div>
</div>


<div id="main"></div>

<script src="../static/js/base/base_script.js"></script>
<script>
    const menu_btns = document.getElementsByClassName("menu")
    {
        for(let btn of menu_btns){
            if(btn.getAttribute("data-loc") === settings.views.default){
                btn.click()
            }
        }
    }

    loadPage("download")
</script>
</body>
</html>